{% extends 'base.html' %}

{% block title %}
Ladder
{% endblock title %}

{% block content %}

<h3>Competition ladder</h3>


    <div class="h-100 d-flex align-items-center justify-content-center">

        <table class="table" id="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th class="text-center" scope="col">Correct Tips</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                {% if request.user == score.user %}
                <tr id="user-row">
                {% else %}
                <tr>
                {% endif %}
                    <td scope="row">{{ score.user }}</td>
                    <td class="text-center">{{ score.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>






{% endblock content %}
