{% extends 'base.html' %}

{% block title %}
Tips
{% endblock title %}

{% block content %}

<h3>ENTER TIPS</h3>

    {% for match in matches %}
    <div class="h-100 d-flex align-items-center justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <div>
                    {% if match.team1 == None and match.team2 == None %}
                    <label class="form-label" for="tip">#{{ match.id }}  TBC vs TBC</label>
                    {% elif match.team1 == None %}
                    <label class="form-label" for="tip">#{{ match.id }}  TBC vs {{ match.team2 }}</label>
                    {% elif match.team2 == None %}
                    <label class="form-label" for="tip">#{{ match.id }}  {{ match.team1 }} vs TBC</label>
                    {% else %}
                    <label class="form-label" for="tip">#{{ match.id }}  {{ match.team1 }} vs {{ match.team2 }}</label>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label" for="tip" >{{ match.when }} @ {{ match.venue }}</label>
                </div>
                <div>
                    <input type="hidden" name="match" value="{{ match.id }}">
                    <select class="form-select" name="tip" id="form-select">
                        <option value="" disabled selected>-- choose --</option>
                        <option value="{{ match.team1.id }}">{{ match.team1 }}</option>
                        <option value="{{ match.team2.id }}">{{ match.team2 }}</option>
                    </select>
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </form>
    </div>
    {% endfor %}


{% endblock content %}
