
:root {
  --bg-main: rgb(223, 172, 45);
  --bg-grey: #EEEEEE;
  --br-green: green;
} 

html {
    position: relative;
    min-height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
   
  body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding-bottom: 5rem;
  }
  
  /* Classes */
  
  .messages {
    /* remove bullet points */
    list-style-type: none;
  }
    
  
  /* IDs */
  
  #alerts {
    padding-top: 2rem;
  }

  #card-account {
    width: 25rem;
  }

  #card-match {
    width: 25rem;
    margin: 1rem 1rem;
  }

  #card-match-header {
    background-color: var(--bg-main);
    color: white;
  }

  #content {
    padding-bottom: 5rem;
  }
  
  #form {
    max-width: 20rem;
  }

  #form-info {
    max-width: 30rem;
    margin-top: 2rem;
  }


  #heading {
    text-align: center;
    padding: 1rem 1rem;
  }

  #home-button {
    padding-top: 3rem;
  }

  #home-card {
    padding-top: 3rem;
  }

  #table {
    max-width: 400px;
    margin: 30px;
  }

  #tip-button {
    margin-top: 10px;
  }

  #tip-div {
    background-color: var(--bg-main);
    padding: 20px;
    margin: 20px 20px 0px 20px;
    width: 25rem;
    text-align: center;
    color: white;
  }

  #tip-div-choice {
    background-color: var(--br-green);
    color: white;
    margin: 0px 20px 0px 20px;
    width: 25rem;
    text-align: center;
  }

  #tip-select {
    width: 15rem;
    margin-top: 10px;
  }

  #user-row {
    background-color: var(--bg-main);
    color: white;
  }
  
  
  /* Footer */
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

