html {
    position: relative;
    min-height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
   
  body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding-bottom: 10rem;
  }
  
  /* Classes */
  
  .messages {
    /* remove bullet points */
    list-style-type: none;
  }
    
  
  /* IDs */
  
  #alerts {
    padding-top: 2rem;
  }

  #content {
    padding-bottom: 5rem;
  }
  
  #heading {
    text-align: center;
    padding: 1rem 1rem;
  }

  #home-button {
    padding-top: 3rem;
  }

  #home-card {
    padding-top: 3rem;
  }

  #tip-form {
    max-width: 500px;
    text-align: center;
  }
  
  
  /* Footer */
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }